
<div style="width:80%;margin:10px;text-align:justify">
    <div class="block">
        <div class="block_left">
            <label>博客名称</label>
        </div>
        <div class="block_right">
            <label>姜的博客</label>
        </div>
    </div>
    <div class="block">
        <div class="block_left">
            <label>名称</label>
        </div>
        <div class="block_right">
            <label>姜</label>
        </div>
    </div>
    <div class="block">
        <div class="block_left">
            <label>年龄</label>
        </div>
        <div class="block_right">
            <label>18</label>
        </div>
    </div>
    <div class="block">
        <div class="block_left">
            <label>园龄</label>
        </div>
        <div class="block_right">
            <label>999年</label>
        </div>
    </div>
</div>