@{
    ViewBag.Title = "Live2d";
    //Layout = "~/Views/Shared/_LayoutTwo.cshtml";
}
<script src="~/Contents/js/xuanran/pgy.js"></script>
@*<script src="~/Contents/js/cursor-effects/cursor-follow-effects.js"></script>*@
<!--点击烟花特效-->
@*<script src="~/Contents/js/cursor-effects/cursor-effects.js"></script>*@



@*<script src="~/Contents/js/cursor-effects/cursor-effects-master/bubbleCursor.js"></script>      <!--光标之泡泡-->*@
@*<script src="~/Contents/js/cursor-effects/cursor-effects-master/emojiCursor.js"></script>       <!--笑脸-->
<script src="~/Contents/js/cursor-effects/cursor-effects-master/batsCursor.js"></script>        <!--蝙蝠-->
<script src="~/Contents/js/cursor-effects/cursor-effects-master/fairyDustCursor.js"></script>   <!--仙女棒-->
<script src="~/Contents/js/cursor-effects/cursor-effects-master/ghostCursor.js"></script>       <!--鼠标-->
<script src="~/Contents/js/cursor-effects/cursor-effects-master/snowflakeCursor.js"></script>   <!--雪花-->*@
<script src="~/Contents/js/cursor-effects/cursor-effects-master/template.js"></script>
@*<h2>Live2d  抱走小萝莉</h2>*@
<body>

</body>
@*<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<script>
    L2Dwidget.init({
        "model": {
            //jsonpath控制显示模型
            jsonPath: "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json",
            "scale": 1
        },
        "display": {
            "position": "left", //看板娘的表现位置
            "width": 150,  //小萝莉的宽度
            "height": 300, //小萝莉的高度
            "hOffset": 0,
            "vOffset": -20
        },
        "mobile": {
            "show": true,
            "scale": 0.5
        },
        "react": {
            "opacityDefault": 0.7,
            "opacityOnHover": 0.2
        }
    });
</script>*@

